<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.shell.Prune</string>
    <key>ProgramArguments</key>
    <array>
      <string>@USER_HOME@/prune/init/.pruneops.zsh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
